/* Estilos del menu */
header {
    background-color: #663b26;
    color: #fff;
    padding: 25px;
    font-family: sans-serif;
}

.search-button {
    background-color: #ffffff00;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.logo-y-frase {
    display: flex; 
    align-items: center; 
}
nav a{
    text-decoration: none;
    color: white;
}


nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style: none; 
}
nav a img{
    width: 60px;
    height: 60px;
    padding-right: 30px;
}
ul {
    list-style: none;
    display: flex;
    
}

ul li {
    
    margin-right: 20px;
    font-size: 10px;
    
}
ul li a{
    text-decoration: none;
}

nav{
    height: 50px;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 5px;
    
}
nav ul li a{
    color: #fff;
    font-size: 14px;
    padding-left: 25px;
    border-radius: 20% 1px;
    text-decoration: none;
}

li a:hover{
    background: #BC642D;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/*Estilos para el body*/

img{
    width: 100%;
}



/* Estilos para el boton de busqueda */
.search-button img{    
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* Estilos del footer */

footer {
    background-color: #f7f7f7; 
    padding: 20px;
    font-family: 'Sans SemiCondensed', sans-serif; 
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    width: calc(33.33%);
    padding: 20px;
    background-color: #fff; 
    
}

.footer-column ul li{
    font-size: 12px;
}

.lista-horario{
    margin-left: 20px;
}
.logo-email img{
    width: 20px;
    margin-right: 10px;

}
.logo-phone img{
    width: 20px;
    margin-right: 10px;
}
.logo-direction img{
    width: 20px;
    margin-right: 10px;
}
.logo-faceb img{
    width: 20px;
    margin-right: 10px;
}
.logo-insta img{
    width: 20px;
    margin-right: 10px;
}


h4 {
    color: #333; 
}

ul {
    list-style: none;
    padding: 0;
    display: block; 
    margin: 0px 20px 2px 2px; 
}

li {
    color: #555; 
    margin-top: 5px;
    
}

.last-foot {
    text-align: center;
    font-size: 12px;
    padding: 12px;
    background-color: #202020;
    color: #fff; 
}





















/* Estilos del icono de menú en dispositivos móviles */

/* Estilos responsivos */
@media (max-width: 720px) and (max-height: 1280px) { 

    
}
